body{
    margin: 0;
}
p{
    position: fixed;
    z-index: 10;


    font-family: sans-serif,Arial;
    font-size: 2rem;
    color: white;
    top: 10px;
    left: 10px;

}
p span{
    padding: 0.5rem;
}
    